__pycache__
*.pyc
.venv/
venv/
.env
build/
dist/
raw_locale_files/
app.spec
config.json
nces_data.csv
temp.py
.vscode/
.idea/
local_main.py
local_main_opus.py
raw_district_files/
district_mappings.json
adhoc.py