#full-header{
    display: inline-flex;
    width: 70%;
    background-color: #E5E5E5;
    border: 2px solid #17BECF;
    border-radius: 5px;
    margin-bottom: 0px;
    height: 140px;
}
 
#header-left{
    display: inline-flex;
    flex-direction: column;
    width: 70%;
}

#header-row-1{
    display: flex;
    align-items: center;
}

#page-title{
    font-size: 24px;
}

#page-title{
    padding-left: 40px;
}

#year-filter{
    width: 100%;
    margin-left: 5px;
}

#header-row-2{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.header-stat-text{
    display: inline-block;
}

.header-number{
    display: inline-block;
    color: #17BECF;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#header-right{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    width: 30%;
    height: 80%;
    margin-top: 14px;
    margin-right: 5px;
}

.link-button{
    margin: 2px;
    padding: 2px;
    background-color: #B7C9E2;
    border-radius: 5px;
    font-size: 17px;
}

.link-button:hover {
  background-color: darkgray; 
  cursor: pointer; 
}


#filter-box{
    position: absolute;
    display: inline-block;
    width: 29%;
    background-color: #E5E5E5;
    border: 2px solid #17BECF;
    border-radius: 5px;
    height: 140px;
    margin-left: 5px;
    overflow-y: scroll;
}

#filter-title{
    padding: 0;
    margin: 0;    
}

#filter-buttons{
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 8px;
    display: flex;
    background-color: #eee;
    justify-content: space-between;
    align-items: center
}

.graph-flex{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
    margin-left: 0px;
    align-items: stretch;
}

.graph{
    outline: 2px solid #17BECF;
    flex: 1;
    border-radius: 5px;
    background-color: #E5E5E5;
    padding: 2px;
    min-width: 0;
    height: 500px;
}

#services-filters-div, #yty-filters-div{
    background-color: #E5E5E5;
    border: 2px solid #17BECF;
    border-radius: 5px;
    display: inline-block;
    width: 250px;  
}

#services-threshold-title, #yty-threshold-title{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#services-threshold-value, #yty-threshold-value{
    display: inline-block;
    color: #17BECF;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#services-time-slider, #yty-time-slider{
    margin-top: 0px;
    padding-top: 0px;
}

.hr-line{
    width: 90%;
    border-top: 2px solid #17BECF;
}

#service-checklist-div, #yty-checklist-div{
    font-size: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

#yty-service-time-by-type{
    flex: 2;
}

#gpa-radio-div{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#gpa-slider-div, #gpa-benchmark-div{
    display: inline-flex;
    width: 100%;
}

#gpa-ranges-title, #gpa-benchmark-title{
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    font-size: 15px;
}

#gpa-by-grade{
    flex: 3;
}